/* STYLES */

/* font-family: 'EB Garamond', serif; */

* {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.nav {
  padding: 1rem;
}

.navbar {
  padding: 3rem;
  border-bottom: .05rem solid #B9B3AF;
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  color: #8b8580;
  font-size: 2.2rem;
  font-weight: lighter;
}

.logo:hover {
  color: #B9B3AF;
}

a:link,
a:visited,
a:hover,
a:active,
.tile-text:hover
{
  color: black;
  text-decoration: none;
}

/* INTRO CONTAINER */
.intro-container {
  padding: 10rem;
}

.intro-container h1 {
  font-weight: 300;
  padding-left: 5rem;
  color: #73706D;
  letter-spacing: .1rem;
}


/* PROJECT CONTAINER */

.project-container {
  padding-bottom: 2rem;
}

.project-tiles {
  margin: 1rem;
}

.project-tiles:hover {
  opacity: .6;
}

.project-tiles .tile-text {
  visibility: hidden;
}

.project-tiles:hover .tile-text {
  visibility: visible;
}

a .tile-text {
  padding: 6rem 1rem;
  font-size: 1.5rem;
  color: black;
}

.personal {
  background-color: #e7e1da;
}

.ui-ux {
  background-color: #B9B3AF;
}

.nss {
  background-color: #e7e1da;
}

.teaching {
  background-color: #5e5956;
}

/* ABOUT PAGE */
.about-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.avatar-container {
  display: flex;
  justify-content: end;
}

.avatar-img {
  margin-right: 5rem;
}

.about-text-container {
  padding-left: 5rem;
}

.about-text {
  padding-top: 2rem;
  width: 20rem;
}

/* CONTACT PAGE  */
.form-group {
  width: 40rem;
  font-family: 'EB Garamond', serif;
  padding-top: .2rem;
  color: #5e5956;
}

.contact-intro-container {
  padding: 5rem 2rem 4rem 5rem;
}

.contact-h1 {
  font-weight: 300;
  color: #73706D;
  letter-spacing: .1rem;
}


/* FOOTER */
nav .pagination {
  padding-right: 10rem;
  padding-bottom: 2rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: .05rem solid #B9B3AF;

}

.social-icon {
  width: 2rem;
}
